<div class="booking-screen">
  <app-maps-search
    [showFloor]="true"
    class="selectors"
    (changeFloor)="changeCurrentFloor($event)"
    (changeOffice)="changeCurrentOffice($event)"
  ></app-maps-search>
  <div class="booking-container">
    <div class="map-grid">
      <app-map-booking
        (showPlaceInfo)="getPlaceInfo($event)"
        [currentFloor]="currentFloor"
      ></app-map-booking>
    </div>
    <div class="place-info">
      <app-date-range (dateChange)="dateRange = $event"></app-date-range>
      <app-place-info *ngIf="currentPlace !== undefined"></app-place-info>
      <div align="end" class="button-group">
        <button mat-raised-button mat-dialog-close>
          Cancel
        </button>

        <button
          mat-raised-button
          color="primary"
          routerLink="/my_bookings"
          cdkFocusInitial
          (click)="addBooking()"
        >
          Book
        </button>
      </div>
    </div>
  </div>
</div>
