<div class="booking-screen">
  <app-maps-search
    [showFloor]="true"
    class="selectors"
    (changeFloor)="changeCurrentFloor($event)"
  ></app-maps-search>
  <app-search></app-search>
  <div class="map-background">
    <div class="map-grid">
      <app-map-booking [currentFloor]="currentFloor"></app-map-booking>
    </div>
    <div class="place-info">
      <app-place-info></app-place-info>

      <!--      <div align="end">-->
      <!--        <button mat-raised-button class="close-button" mat-dialog-close>-->
      <!--          Cancel-->
      <!--        </button>-->

      <!--        <button-->
      <!--          mat-raised-button-->
      <!--          color="primary"-->
      <!--          routerLink="/my_bookings"-->
      <!--          class="book-button"-->
      <!--          cdkFocusInitial-->
      <!--        >-->
      <!--          Book-->
      <!--        </button>-->
      <!--      </div>-->
    </div>
  </div>
</div>
