.icon {
  display: block;
  margin: auto;
  color: white;
  width: 1.7rem;
  height: 3rem;
}

.icon-background {
  height: 3rem;
  width: 3rem;
  margin: 0.5rem;
  border-radius: 5px;
  background-color: #3f51b5;
  cursor: pointer;
}

.on-map-icon-background {
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: #dad8d8;
  color: #3f51b5;
  position: relative;
  top: 20%;
  cursor: pointer;
}

.on-map-icon-background svg{
  width: 50%;
  height: 100%;
}

.on-map-icon-background.disabled {
  background-color: lightcoral;
  color: white;
}

.place-number {
  position: absolute;
  top: 2%;
  right: 2%;
  font-weight: bold;
}

.conf-room-capacity {
  position: absolute;
  bottom: 2%;
  right: 2%;
  font-weight: bold;
}

