.icon {
  display: block;
  margin: auto;
  color: var(--secondary-color);
  width: 1.7rem;
  height: 3rem;
}

.icon-background {
  height: 3rem;
  width: 3rem;
  margin: 0.5rem;
  border-radius: 5px;
  background-color: var(--primary-color);
  cursor: pointer;
}

.on-map-icon-background {
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: #dad8d8;
  color: var(--primary-color);
  position: relative;
  top: 20%;
  cursor: pointer;
}

.on-map-icon-background svg{
  width: 50%;
  height: 100%;
}

.selected {
  background-color: var(--accept-color);
  color: white;
}

.object-content{
  &.disabled {
    color: var(--delete-color);
    opacity: 0.5;
  }
  &.occupied {
    opacity: 0.5;
  }
}

.place-number {
  position: absolute;
  top: 2%;
  right: 2%;
  font-weight: bold;
}

.conf-room-capacity {
  position: absolute;
  bottom: 2%;
  right: 2%;
  font-weight: bold;
}

.object-content {
  height: 100%;
}
