.statistics-container {
  background: var(--secondary-color);
  border-radius: var(--secondary-border-radius);
  float: left;
  display: block;
  padding: var(--primary-content-padding);
  box-shadow: var(--primary-box-shadow);
}

.statistics-container .add-booking-container button {
  width: 100%;
  height: 4rem;
  border-radius: var(--secondary-border-radius);
  font-weight: bold;
  font-size: 16px;
}

.statistics-container .statistics-item {
  width: 6rem;
  height: 6rem;
  border-radius: var(--secondary-border-radius);
  box-shadow: var(--primary-box-shadow);
  background: var(--secondary-color);
  margin: var(--secondary-content-margin) auto 0 auto;
  padding: var(--secondary-content-padding);
  text-align: center;
}

.statistics-container .statistics-item .statistics-item-count {
  font-size: 3rem;
  font-weight: normal;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 1.4rem;
}

.statistics-container .statistics-item .statistics-item-count.all {
  color: black;
}

.statistics-container .statistics-item .statistics-item-count.active {
  color: var(--active-booking-color);
}

.statistics-container .statistics-item .statistics-item-count.completed {
  color: var(--completed-booking-color);
}

.statistics-container .statistics-item .statistics-item-count.cancelled {
  color: var(--cancelled-booking-color);
}

.statistics-item .text-bookings {
  font-size: 1rem;
  margin-top: 2.5rem;
}

@media (max-width: 1530px) {
  .statistics-container {
    padding: 1rem;
  }

  .statistics-container .statistics-item {
    display: inline-block;
    margin: 2rem 1rem 1rem 1rem;
  }

  .statistics-container .add-booking-container {
    padding: 0 1rem;
  }

  .statistics-container .add-booking-container button {
    margin-top: 1rem;
  }
}
