<div class="white-background">
  <button
    mat-raised-button
    color="primary"
    class="add-button"
    routerLink="/book"
  >
    Add booking
  </button>

  <div class="statistics-item">
    <div class="statistics-item-count all">{{ total }}</div>
    <div class="text-bookings">All bookings</div>
  </div>

  <div class="statistics-item">
    <div class="statistics-item-count active">{{ active }}</div>
    <div class="text-bookings">Active</div>
  </div>

  <div class="statistics-item">
    <div class="statistics-item-count completed">{{ completed }}</div>
    <div class="text-bookings">Completed</div>
  </div>

  <div class="statistics-item">
    <div class="statistics-item-count cancelled">{{ cancelled }}</div>
    <div class="text-bookings">Cancelled</div>
  </div>
</div>
