<div class="statistics-container">
  <div class="add-booking-container">
    <button mat-raised-button color="primary" routerLink="/book">
      Add booking
    </button>
  </div>

  <div class="statistics-item">
    <div class="statistics-item-count all">51</div>
    <div class="text-bookings">All bookings</div>
  </div>

  <div class="statistics-item">
    <div class="statistics-item-count active">25</div>
    <div class="text-bookings">Active</div>
  </div>

  <div class="statistics-item">
    <div class="statistics-item-count completed">2</div>
    <div class="text-bookings">Completed</div>
  </div>

  <div class="statistics-item">
    <div class="statistics-item-count cancelled">141</div>
    <div class="text-bookings">Cancelled</div>
  </div>
</div>
