.statistics-container {
  background: white;
  border-radius: 2rem;
  margin-left: 4rem;
  float: left;
  display: block;
  padding: 2rem;
  box-shadow: 0 4px 23px rgba(0, 0, 0, 0.25);
}

.statistics-container .add-booking-container button {
  width: 100%;
  height: 4rem;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 16px;
}

.statistics-container .statistics-item {
  width: 6rem;
  height: 6rem;
  border-radius: 2rem;
  box-shadow: 0 4px 23px rgba(0, 0, 0, 0.25);
  background: white;
  margin: 2rem auto 0 auto;
  padding: 1rem;
  text-align: center;
}

.statistics-container .statistics-item .statistics-item-count {
  font-size: 3rem;
  font-weight: normal;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 1.4rem;
}

.statistics-container .statistics-item .statistics-item-count.all {
  color: black;
}

.statistics-container .statistics-item .statistics-item-count.active {
  color: #673AB7;
}

.statistics-container .statistics-item .statistics-item-count.completed {
  color: #00C19F;
}

.statistics-container .statistics-item .statistics-item-count.cancelled {
  color: #F44336;
}

.statistics-item .text-bookings {
  font-size: 1rem;
  margin-top: 2.5rem;
}

@media (max-width: 1530px) {
  .statistics-container {
    padding: 1rem;
  }

  .statistics-container .statistics-item {
    display: inline-block;
    margin: 2rem 1rem 1rem 1rem;
  }

  .statistics-container .add-booking-container {
    padding: 0 1rem;
  }

  .statistics-container .add-booking-container button {
    margin-top: 1rem;
  }
}
