table {
  width: 100%;
  min-width: 40rem;
}

td.mat-cell {
  padding: var(--secondary-content-padding) 0;
}

.bookmark {
  padding: var(--secondary-content-padding);
  margin-left: -1.5rem;
  width: 3rem;
  color: var(--secondary-color);
  border-radius: 0 var(--secondary-border-radius) var(--secondary-border-radius)
    0;
  font-weight: normal;
  position: relative;
  display: inline-flex;
  align-items: center;
}

.mat-header-cell,
.mat-cell:not(:first-child) {
  text-align: center;
}

tr.mat-row:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.bookmark.active {
  background: var(--active-booking-color);
}

.bookmark.canceled {
  background: var(--canceled-booking-color);
}

.bookmark.completed {
  background: var(--completed-booking-color);
}

.icon-button {
  color: #787878;
}

div[ng-reflect-ng-switch="logo"] {
  width: 8rem;
  height: 8rem;
  margin: 1rem auto;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  overflow: hidden;
}

.photo-logo {
  width: auto;
  height: 100%;
  align-self: start;
}

.portrait {
  width: 100%;
  height: auto;
}
