.rate-place-modal {
  width: 20rem;
}

.heading {
  display: inline-block;
  font-weight: bold;
  padding-top: 0.3rem;
}

.submit-button {
  display: inline-block;
  margin-left: 1rem;
  float: right;
}

.close-button {
  display: inline-block;
  margin-left: 10rem;
  padding: 0;
}

.feedback-field {
  width: 100%;
  margin-top: 1rem;
  color: #787878;
}
