<table>
  <tr>
    <td>
      <mat-form-field appearance="fill"
                      class="input-item">
        <mat-label>Country</mat-label>
        <mat-select #countrySelect="matSelect"
                    (selectionChange)="setCities($event.value)">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let country of countries"
                      [value]="country">{{
            country
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>

    <td>
      <mat-form-field appearance="fill"
                      class="input-item">
        <mat-label>City</mat-label>
        <mat-select (selectionChange)="setOffices(countrySelect.value, $event.value)">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let city of cities"
                      [value]="city">{{
            city
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>

    <td>
      <mat-form-field appearance="fill"
                      class="input-item">
        <mat-label>Address</mat-label>
        <mat-select>
          <mat-option>None</mat-option>
          <mat-option *ngFor="let office of offices"
                      [value]="office.address.address">{{ office.address.address }}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>

    <td>
      <div class="add-map-container">
        <button mat-raised-button
                color="primary"
                (click)="addNewOffice()">
          Add Map
        </button>
      </div>
    </td>
  </tr>
</table>