<div class="statistics-container">
  <div class="add-booking-container">
    <button mat-raised-button color="primary" routerLink="/book">
      Add booking
    </button>
  </div>

  <div class="statistics-item">
    <div class="statistics-item-count all">{{ total }}</div>
    <div class="text-bookings">All bookings</div>
  </div>

  <div class="statistics-item">
    <div class="statistics-item-count active">{{ active }}</div>
    <div class="text-bookings">Active</div>
  </div>

  <div class="statistics-item">
    <div class="statistics-item-count completed">{{ completed }}</div>
    <div class="text-bookings">Completed</div>
  </div>

  <div class="statistics-item">
    <div class="statistics-item-count cancelled">{{ cancelled }}</div>
    <div class="text-bookings">Cancelled</div>
  </div>
</div>
