.map-holder {
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
  text-align: center;
  display: inline-block;
}

gridster {
  background: #c7c7c7;
}

gridster-item {
  padding: 1px;
  border: 1px solid white;
  background-color: #dad8d8;
}

app-action-tools {
  background-color: white;
}
