<div class="map-holder">
  <div
    [style.width.px]="
      (options.fixedColWidth + options.margin) * options.minCols +
      options.margin
    "
    [style.height.px]="
      (options.fixedRowHeight + options.margin) * options.minRows +
      options.margin
    "
  >
    <gridster [options]="options">
      <ng-container *ngFor="let item of config.dashboard">
        <gridster-item [item]="item">
          <app-map-object
            #object
            [object]="item.data"
            [isOnMap]="true"
          ></app-map-object>
        </gridster-item>
        <app-action-tools
          *ngIf="object.menuOpened"
          [object]="item.data"
          (deleteEvent)="remove(item)"
        ></app-action-tools>
      </ng-container>
    </gridster>
  </div>
</div>
