.search {
  width: 100%;
  min-width: 20rem;
}
.tab-container {
  display: inline-block;
  min-width: 20rem;
}

.user-card {
  position: relative;
  width: 80%;
}

.user-grid-list {
  min-width: 20rem;
}
