<app-search></app-search>
<mat-grid-list cols="3"
               rowHeight="2:1">
    <mat-grid-tile>
        <app-employee-card></app-employee-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-employee-card></app-employee-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-employee-card></app-employee-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-employee-card></app-employee-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-employee-card></app-employee-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-employee-card></app-employee-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-employee-card></app-employee-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-employee-card></app-employee-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-employee-card></app-employee-card>
    </mat-grid-tile>

</mat-grid-list>