app-search {
  width: 100%;
  min-width: 20rem;
}
app-employees {
  display: inline-block;
  min-width: 20rem;
}

app-employee-card {
  position: relative;
  width: 80%;
}

mat-grid-list {
  min-width: 20rem;
}
