<div class="statistics">
  <app-statistics-box></app-statistics-box>
</div>

<div class="tab-group">
  <mat-tab-group>
    <mat-tab label="Active" class="demo-tab-label">
      <app-table [data]="getData('active')" [status]="'active'"></app-table>
    </mat-tab>

    <mat-tab label="Completed">
      <app-table
        [data]="getData('completed')"
        [status]="'completed'"
      ></app-table>
    </mat-tab>

    <mat-tab label="Cancelled">
      <app-table
        [data]="getData('cancelled')"
        [status]="'cancelled'"
      ></app-table>
    </mat-tab>
  </mat-tab-group>
</div>
