<div class="statistics">
  <app-statistics-box></app-statistics-box>
</div>

<div class="tab-group">
  <mat-tab-group (focusChange)="setBookings($event.index)">
    <mat-tab label="Active" class="demo-tab-label">
      <app-table [data]="displayedBookings" [status]="statuses[0]"></app-table>
    </mat-tab>

    <mat-tab label="Completed">
      <app-table [data]="displayedBookings" [status]="statuses[1]"></app-table>
    </mat-tab>

    <mat-tab label="Cancelled">
      <app-table [data]="displayedBookings" [status]="statuses[2]"></app-table>
    </mat-tab>
  </mat-tab-group>
</div>
