.tab-group{
  width: 52rem;
  margin-left: 4rem;
  margin-top: 2rem;
  border-radius: 3rem 3rem 0 0;
  background: white;
  float: left;
  display: block;
  box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.25);
}

.white-background {
  width: 17rem;
  height: 42rem;
  background: white;
  border-radius: 2rem ;
  margin-top: 2rem;
  margin-left: 4rem;
  float: left;
  display: block;
  box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.25);
}

.mat-tab-1{
  padding: 1rem;
}

.mat-tab {
  height: 48px;
  padding: 0 34px;
  cursor: pointer;
  box-sizing: border-box;
  opacity: .6;
  min-width: 160px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  position: relative;
}




