<h2 mat-dialog-title>Delete office address</h2>

<div mat-dialog-content
     class="dialog-content">

    <form #form="ngForm"
          class="office-location-fields"
          autocomplete="off">

        <mat-form-field class="office-field id">
            <mat-label class="field-label">Office ID</mat-label>
            <input matInput
                   placeholder="Office ID"
                   name="officeId"
                   [(ngModel)]="data.id"
                   name="id"
                   [(ngModel)]="data.id"
                   readonly>
        </mat-form-field>
        <p>Do you really want to delete office address?</p>

    </form>
</div>

<mat-dialog-actions align="end">
    <button mat-button
            mat-dialog-close>Close</button>
    <button mat-button
            color="primary"
            type="submit"
            (click)="onDeleteOffice(data.id)">Delete office</button>
</mat-dialog-actions>