h2 {
  font-weight: bold;
}

.dialog-content {
  margin: 0;
  padding: 0 1rem;
  overflow: hidden;
}

mat-dialog-content {
  margin: 0;
  padding: 0 1rem;
  overflow: hidden;
}

button[type="submit"] {
  background: #3c4eae;
  color: white;
}
