mat-sidenav-container {
  background-color: #f4f4f4;
  height: 100%;
}

mat-sidenav {
  width: 14rem;
  border-top-right-radius: 3rem;
  box-shadow: 0 4px 23px rgba(0, 0, 0, 0.25);
}

mat-sidenav-content {
  padding: 2rem 4rem;
}
