h2 {
  font-weight: bold;
}

.office-location-fields {
  margin-top: 0.5rem;
  padding: 0.5rem 0;
  font-size: 0.875rem;
}

.office-field {
  display: block;
}

.field-label {
  display: inline-block;
  white-space: nowrap;
}

.dialog-content {
  margin: 0;
  padding: 0 1rem;
  overflow: hidden;
}

button[type="submit"] {
  background: #3c4eae;
  color: white;
}

.work-time p {
  margin: 1rem 5rem 0 0;
}

.work-time-field {
  display: inline-block;
  width: 4rem;
}

.work-time {
  display: flex;
  justify-content: space-between;
}
