<div class="date-field">
  <mat-form-field color="accent" appearance="fill" class="date-item">
    <mat-label>Book from</mat-label>
    <input matInput [matDatepicker]="picker1" />
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <mat-form-field color="accent" appearance="fill" class="date-item">
    <mat-label>Book to</mat-label>
    <input matInput [matDatepicker]="picker2" />
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2 color="primary"></mat-datepicker>
  </mat-form-field>
</div>

<table mat-table [dataSource]="DATA" class="mat-elevation-z8">
  <ng-container matColumnDef="date">
    <td mat-cell *matCellDef="let element">{{ element.date }}</td>
  </ng-container>

  <ng-container matColumnDef="userName">
    <td mat-cell *matCellDef="let element">{{ element.userName }}</td>
  </ng-container>

  <tr mat-row *matRowDef="let row; columns: headers"></tr>
</table>

<div align="end">
  <button mat-raised-button class="close-button" mat-dialog-close>
    Cancel
  </button>

  <button
    mat-raised-button
    color="primary"
    routerLink="/my_bookings"
    class="book-button"
    cdkFocusInitial
  >
    Book
  </button>
</div>
