.place-info-container {
  padding: 1rem;
}

.place-info-container mat-form-field {
  width: 100%;
}

table {
  width: 100%;
  box-shadow: none;
}

tr.mat-row, tr.mat-footer-row {
  height: 5rem;
}

.end {
  display: flex;
  justify-content: right;
}

.text-place{
  color: #787878;
  margin-top: 1rem;
}

.place-info{
  height: calc(100% - 7rem);
}

.place-header {
  text-align: center;
  color: #787878;
  font-size: 1.4rem;
}

