<div class="place-info-container">
  <app-spinner [name]="'placeInfoSpinner'"></app-spinner>
  <div class="place-info">
    <p class="place-header">Place №{{ place.placeNumber }} Info</p>
    <p class="text-place">Place Rating</p>
    <app-rating
      *ngIf="placeRating !== undefined"
      [rating]="placeRating"
    ></app-rating>
    <div class="table-container">
      <p class="text-place">Booked by:</p>
      <table
        *ngIf="place.occupied && currentBookings !== undefined"
        mat-table
        [dataSource]="currentBookings"
        class="mat-elevation-z8"
      >
        <p class="text-place">Booked by:</p>
        <ng-container matColumnDef="date">
          <td mat-cell *matCellDef="let element">
            {{ element.timeStart | date: "longDate" }} -
            {{ element.timeEnd | date: "longDate" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <td mat-cell *matCellDef="let element">
            {{ element.userName }} {{ element.userSurname }}
          </td>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: headers"></tr>
      </table>
    </div>
  </div>
</div>
