.mat-icon {
  margin: 0.7rem;
  position: relative;
  top: 0.2rem;
  font-size: 1.5rem;
  color: white;
}

.icon-background {
  height: 3rem;
  width: 3rem;
  margin: 1rem auto 0.7rem auto;
  border-radius: 50%;
  background-color: #3f51b5;
}

button .action-button {

}
