<div class="tools">
  <div class="tools-container">
    <ng-container *ngFor="let object of objects">
      <app-map-object [object]="object" [isOnMap]="false"></app-map-object>
    </ng-container>

    <hr />

    <app-zoom-tool (scopeEvent)="map.changeScope($event)"></app-zoom-tool>

    <hr />

    <app-map-size-tool
      [height]="initHeight"
      [width]="initWidth"
      (changeWidthEvent)="map.changeWidth($event)"
      (changeHeightEvent)="map.changeHeight($event)"
    >
    </app-map-size-tool>

    <hr />

    <div>
      <button (click)="addEmptyFloor()">Add floor</button>
    </div>
    <mat-button-toggle-group
      #floorsGroup="matButtonToggleGroup"
      [value]="floors[0]"
    >
      <mat-button-toggle
        *ngFor="let floor of floors; let i = index"
        [value]="floor"
      >
        {{ i + 1 }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>

<div class="my-grid">
  <app-map #map [config]="floorsGrp ? floorsGrp.value : floors[0]"></app-map>
</div>
