.tools {
  width: 50%;
  margin: 0 auto 2rem auto;
}

.tools .tools-container {
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 23px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  margin: 1rem;
  text-align: center;
}

.my-grid {
  width: 90%;
  text-align: center;
  height: 90%;
  display: inline-block;
}

app-floor-panel {
  vertical-align: top;
  width: 10%;
  display: inline-block;
  text-align: center;
}
