<div class="tab-container">
  <div class="tools">
    <div class="tools-container">
      <ng-container *ngFor="let object of objects">
        <app-map-object [object]="object" [isOnMap]="false"></app-map-object>
      </ng-container>

      <div class="delimiter"></div>

      <app-zoom-tool (scopeEvent)="map.changeScope($event)"></app-zoom-tool>

      <div class="delimiter"></div>

      <app-map-size-tool
        [(height)]="currentFloor.height"
        [(width)]="currentFloor.width"
        (heightChange)="map.changeHeight($event)"
        (widthChange)="map.changeWidth($event)"
      >
      </app-map-size-tool>
    </div>
  </div>

  <div class="my-grid">
    <app-map
      #map
      [(config)]="currentFloor ? currentFloor : floors[0]"
    ></app-map>
  </div>

  <app-floor-panel
    [(floors)]="floors"
    [(currentFloor)]="currentFloor"
  ></app-floor-panel>
</div>
