.tools {
  width: 10%;
  vertical-align: top;
  margin-right: 4rem;
}

.my-grid {
  width: calc(90% - 4rem);
  text-align: center;
  height: calc(100% - 4rem);
}

.tools,
.my-grid {
  display: inline-block;
}

.tools .tools-container {
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 23px rgba(0, 0, 0, 0.25);
  padding: 1rem 1rem;
  text-align: center;
}

mat-button-toggle {
  display: block;
}
