<div class="tools">
  <div class="tools-container">
    <ng-container *ngFor="let object of objects">
      <app-map-object [object]="object" [isOnMap]="false"></app-map-object>
    </ng-container>

    <hr />

    <app-zoom-tool (scopeEvent)="map.changeScope($event)"></app-zoom-tool>

    <hr />

    <app-map-size-tool
      [height]="map.initMapHeight"
      [width]="map.initMapWidth"
      (changeWidthEvent)="map.changeWidth($event)"
      (changeHeightEvent)="map.changeHeight($event)"
    >
    </app-map-size-tool>
  </div>
</div>

<div class="my-grid">
  <app-map #map></app-map>
</div>
