<div mat-dialog-content>
    <div class="user-photo-container">
        <img class="user-photo"
             src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTRlYNtOpUlpa7j1AcDDgETsPZaqZW0_Jo8fw&usqp=CAU">
    </div>
    <p class="user-name"> Dart Weider </p>
    <p class="user-email"> Dart@dart.ru </p>
    <p class="no-center">
        <span> Time: </span>
        <span>&nbsp;2 Jan 2020</span>
    </p>
    <p class="no-center">
        <span>Place #:</span>
        <span>&nbsp;67</span>
    </p>
    <p class="no-center">
        <span>Office address:</span>
        <span>&nbsp;Kuprevicha 3</span>
    </p>
    <p class="no-center">
        <span>Place status:</span>
        <span>&nbsp;Active</span>
    </p>
    <div class="rating-line">
        <span><i class="fa fa-lightbulb"
               aria-hidden="true"> </i>
            <span>5</span>
        </span>
        <span><i class="fas fa-wind"
               aria-hidden="true"> </i>
            <span>4.5</span>
        </span>
        <span><i class="fas fa-volume-up"
               aria-hidden="true"> </i>
            <span>3.5</span>
        </span>
        <span><i class="fas fa-hand-sparkles"
               aria-hidden="true"> </i>
            <span>4</span>
        </span>
        <span><i class="fas fa-map-marker-alt"
               aria-hidden="true"> </i>
            <span>5</span>
        </span>
    </div>
    <p class="no-center">
        <span>Feedback:</span>
        <span>&nbsp;Super!</span>
    </p>
</div>