.status {
  width: 6rem;
  color: white;
  border-radius: var(--primary-border-radius);
  padding: 0.2rem;
  text-align: center;
  text-transform: capitalize;
}

.status.ACTIVE {
  background: var(--active-booking-color);
}

.status.CANCELED {
  background: var(--delete-color);
}

.status.COMPLETED {
  background: var(--completed-booking-color);
}
