.mat-icon {
  margin: 1rem;
  position: relative;
  top: 0.2rem;
  font-size: 1.8rem;
  color: white;
}

.mat-button {
  margin: 2.5rem;
  display: block;
  border-radius: 2rem;
  border: 1px solid #DEDEDE;
  width: 8rem;
  height: 8rem;
  white-space: normal;
  line-height: 1rem;
}

.mat-button.active {
  border: 2px solid #3F51B5;
}

.icon-background {
  height: 4rem;
  width: 4rem;
  margin: 0 auto 0.7rem auto;
  border-radius: 50%;
  background-color: #3F51B5;
}
