table {
  width: 100%;
}

td.mat-cell {
  padding: var(--secondary-content-padding) 0;
}

.bookmark {
  padding: var(--secondary-content-padding);
  margin-left: -1.5rem;
  width: 30%;
  color: var(--secondary-color);
  border-radius: 0 var(--secondary-border-radius) var(--secondary-border-radius) 0;
  font-weight: normal;
  position: relative;
  display: inline-flex;
  align-items: center;
}

tr.mat-row:hover {
  background-color: #E6E6E6;
  cursor: pointer;
}

.bookmark.active {
  background: var(--active-booking-color);
}

.bookmark.cancelled {
  background: var(--cancelled-booking-color);
}

.bookmark.completed {
  background: var(--completed-booking-color);
}

.edit-button {
  display: inline-block;
  position: relative;
  background: #93CBFF;
  color: var(--secondary-color);
  right: 16px;
  top: 13px;
}

.icon-button {
  color: #787878;
}

.photo-logo {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}
