.tools {
  margin-bottom: 3rem;
  display: flex;
}

.tools .tools-container {
  background: var(--secondary-color);
  border-radius: var(--secondary-border-radius);
  box-shadow: var(--primary-box-shadow);
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}

.tools .tools-container .delimiter {
  border-right: var(--primary-border);
  margin: 0.5rem;
}

.my-grid {
  width: 85%;
  text-align: center;
  height: calc(100% - 12rem);
  display: inline-block;
}

app-floor-panel {
  vertical-align: top;
  width: 15%;
  display: inline-block;
  text-align: center;
}

app-zoom-tool {
  display: flex;
  align-items: center;
}

.tab-container {
  height: calc(100% - 2rem);
}
