<div class="action-tools-content">
  <mat-button-toggle-group
    appearance="legacy"
    [(value)]="object.active"
    *ngIf="mapObjectService.isWorkPlace(object)"
  >
    <mat-button-toggle
      [value]="true"
      class="active"
      matTooltip="Active"
      (click)="$event.stopPropagation()"
      matTooltipPosition="above"
    >
      <mat-icon>done</mat-icon>
    </mat-button-toggle>

    <mat-button-toggle
      [value]="false"
      class="disabled"
      matTooltip="Disable"
      (click)="$event.stopPropagation()"
      matTooltipPosition="above"
    >
      <mat-icon>clear</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>

  <button
    mat-mini-fab
    (click)="delete()"
    matTooltip="Remove"
    matTooltipPosition="above"
  >
    <mat-icon>delete</mat-icon>
  </button>

  <mat-form-field *ngIf="mapObjectService.isWorkPlace(object)">
    <mat-label>Place #</mat-label>
    <input matInput type="text" [(ngModel)]="object.number" />
  </mat-form-field>

  <mat-form-field *ngIf="object.capacity">
    <mat-label>Capacity</mat-label>
    <input matInput type="number" [(ngModel)]="object.capacity" [min]="1" />
  </mat-form-field>

  <mat-button-toggle-group
    *ngIf="mapObjectService.shouldHasBorder(object)"
    appearance="legacy"
    [(value)]="object.border"
  >
    <mat-button-toggle [value]="border.top">{{ border.top }}</mat-button-toggle>
    <mat-button-toggle [value]="border.right">{{
      border.right
    }}</mat-button-toggle>
    <mat-button-toggle [value]="border.bottom">{{
      border.bottom
    }}</mat-button-toggle>
    <mat-button-toggle [value]="border.left">{{
      border.left
    }}</mat-button-toggle>
  </mat-button-toggle-group>
</div>
