.mat-icon {
  margin: 1rem;
  position: relative;
  top: 0.2rem;
  font-size: 1.8rem;
  color: var(--secondary-color);
}

.mat-button {
  margin-top: var(--secondary-content-margin);
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: var(--secondary-border-radius);
  border: var(--primary-border);
  width: 8rem;
  height: 8rem;
  white-space: normal;
  line-height: 1rem;
  background-color: var(--secondary-color);
  justify-content: center;
}

.mat-button.active {
  border: var(--primary-border-width) solid var(--primary-color);
}

.icon-background {
  height: 4rem;
  width: 4rem;
  margin: 0 auto 0.7rem auto;
  border-radius: 50%;
  background-color: var(--primary-color);
}

@media only screen and (max-width: 600px) {
  .mat-button {
    margin: 1rem 0.5rem;
    width: 6.5rem;
    height: 6.5rem;
  }

  .icon-background {
    height: 2.5rem;
    width: 2.5rem;
  }

  .mat-icon {
    margin: 0.5rem auto;
    height: 40%;
  }
}
