app-search {
  width: 100%;
  min-width: 20rem;
}

app-employees {
  display: inline-block;
  min-width: 20rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, auto));
  grid-gap: 1rem;
}
