table {
  width: 80%;
  display: inline-block;
}

table td {
  width: 25%;
}

table td mat-form-field {
  width: 90%;
}

button {
  width: 15rem;
  float: right;
  height: 3.5rem;
  margin-bottom: 1.2rem;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 16px;
}

@media screen and (max-width: 1169px) {
  //.table,
  //.button {
  //  width: 100%;
  //  display: block;
  //}

  //button,
  table tr > *{
    width: 100%;
    display: block;
  }

  //button,
  table tr {
    //width: 35rem;
    display: table-cell;
  }
}

//@media screen and (max-width:767px) {
//  table tr > *{
//    display: block;
//  }
//  table tr {
//    display: table-cell;
//  }
//}
