h2 {
  font-weight: bold;
}

.add-office {
  margin-top: 0.5rem;
  padding: 0.5rem 0;
  font-size: 0.875rem;
  width: 20rem;
  z-index: 1;
}

mat-form-field {
  display: block;
}

mat-label {
  display: inline-block;
  font-weight: bold;
  white-space: nowrap;
  margin-right: 5rem;
}
.mat-dialog-content {
  margin: 0;
  padding: 0 1rem;
  overflow: hidden;
}

.working-time {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #808080;
}

.time-field {
  position: relative;
}

.time-field:last-child {
  text-align: right;
}

ngx-material-timepicker-toggle {
  position: absolute;
  bottom: 0;
  right: 4.3rem;
  opacity: 50%;
}
ngx-material-timepicker-toggle.to {
  right: 1rem;
}

.cdk-overlay-backdrop-showing {
  z-index: 1000 !important;
}

.timepicker-overlay {
  z-index: 1000 !important;
}
.cdk-overlay-container {
  z-index: 500 !important;
}
