<h2 mat-dialog-title>Add new office</h2>

<div mat-dialog-content>

    <form class="add-office">
        <mat-form-field>
            <mat-label>Country</mat-label>
            <input matInput
                   placeholder="Country"
                   value="Belarus"
                   name="country"
                   [(ngModel)]="country">
        </mat-form-field>

        <mat-form-field>
            <mat-label>City</mat-label>
            <input matInput
                   placeholder="City"
                   value="Minsk"
                   name="city"
                   [(ngModel)]="city">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput
                   placeholder="Address"
                   value="Kuprevicha, 3"
                   name="address"
                   [(ngModel)]="address">
        </mat-form-field>
    </form>

    <div class="working-time">
        <mat-label>Working time:</mat-label>

        <div class="time-field">
            <ngx-material-timepicker-toggle [for]="toggleTimepicker"></ngx-material-timepicker-toggle>
            <ngx-material-timepicker appendToInput="true"
                                     class="time-picker"
                                     #toggleTimepicker
                                     #min></ngx-material-timepicker>
            <input matInput
                   placeholder="From "
                   [ngxTimepicker]="min"
                   max="''"
                   readonly>
        </div>

        <div class="time-field">
            <ngx-material-timepicker-toggle class="to"
                                            [for]="toggleTimepicker"></ngx-material-timepicker-toggle>
            <ngx-material-timepicker class="time-picker"
                                     appendToInput="true"
                                     #toggleTimepicker
                                     #max></ngx-material-timepicker>
            <input matInput
                   placeholder="To "
                   [ngxTimepicker]="max"
                   max="''"
                   readonly>
        </div>


    </div>
</div>

<mat-dialog-actions align="end">
    <button mat-button
            mat-dialog-close>Close</button>
    <button mat-button
            type="submit">Add</button>
</mat-dialog-actions>