h2 {
  font-weight: bold;
}

.add-office {
  margin-top: 0.5rem;
  padding: 0.5rem 0;
  font-size: 0.875rem;
}

mat-form-field {
  display: block;
}

.mat-dialog-content {
  margin: 0;
  padding: 0 1rem;
  overflow: hidden;
}

.working-time {
  display: flex;
  justify-content: space-between;
  width: 15rem;
  list-style-type: none;
  padding: 0;
}

.working-time li {
  display: inline-block;
}
li mat-form-field {
  width: 4em;
}
