<div class="tab-container">
  <div class="statistics">
    <app-statistics-box #stats></app-statistics-box>
  </div>

  <div class="tab-group">
    <app-spinner [name]="'tableSpinner'"></app-spinner>
    <mat-tab-group
      animationDuration="0ms"
      mat-stretch-tabs
      (focusChange)="setBookings($event.tab.textLabel)"
    >
      <mat-tab label="Active" class="demo-tab-label">
        <app-table
          [data]="displayedBookings"
          [status]="status.active"
          [columns]="getColumns(status.active)"
          [openDetails]="openBookingDetailsModal"
          (openDelete)="openCancelDialog($event)"
        ></app-table>
      </mat-tab>

      <mat-tab label="Completed">
        <app-table
          [data]="displayedBookings"
          [status]="status.completed"
          [columns]="getColumns(status.completed)"
          [openDetails]="openBookingDetailsModal"
        ></app-table>
      </mat-tab>

      <mat-tab label="Canceled">
        <app-table
          [data]="displayedBookings"
          [status]="status.canceled"
          [columns]="getColumns(status.canceled)"
          [openDetails]="openBookingDetailsModal"
        ></app-table>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
