.tab-container {
  display: table;
}

.tab-group {
  width: 80%;
  height: 100%;
  border-radius: var(--primary-border-radius) var(--primary-border-radius) 0 0;
  background: var(--secondary-color);
  display: inline-block;
  overflow: hidden;
  box-shadow: var(--primary-box-shadow);
}

.statistics {
  float: right;
  margin-bottom: var(--secondary-content-margin);
}

@media (max-width: 1530px) {
  .tab-group,
  .statistics {
    width: 100%;
  }

  // .statistics {
  //   // display: flex;
  //   justify-content: space-around;
  // }
}

@media (max-width: 600px) {
  .statistics {
    justify-content: start;
  }
}
