.tab-container {
  display: table;
}

.tab-group {
  width: 80%;
  height: 100%;
  border-radius: var(--primary-border-radius) var(--primary-border-radius) 0 0;
  background: var(--secondary-color);
  display: inline-block;
  overflow: hidden;
  box-shadow: var(--primary-box-shadow);
}

.statistics {
  float: right;
  margin-bottom: var(--secondary-content-margin);
}

@media (max-width: 1335px) {
  .tab-group,
  .statistics {
    display: inline-block;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .statistics {
    justify-content: start;
  }

  .tab-group {
    height: calc(100% - 20rem);
  }
}
