<div class="floor-panel">
  <div class="floor-panel-container">
    <button mat-mini-fab (click)="save()">
      <mat-icon>save</mat-icon>
    </button>

    <div *ngFor="let floor of floors; let i = index">
      <button
        mat-mini-fab
        [class.inactive]="floors[i] !== currentFloor"
        (click)="changeCurrentFloor(i)"
      >
        {{ i + 1 }}
      </button>

      <button
        mat-mini-fab
        class="remove-floor"
        *ngIf="floors.length > 1"
        (click)="deleteFloor(i)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>

    <button mat-mini-fab (click)="addEmptyFloor()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
