<h2 mat-dialog-title class="heading">Place rating</h2>

<div mat-dialog-content>
  <app-rate
    [(rate)]="bookingMark.markLightning"
    [icon]="'fa-lightbulb'"
    [iconTooltip]="'Light'"
  ></app-rate>
  <app-rate
    [(rate)]="bookingMark.markAir"
    [icon]="'fa-wind'"
    [iconTooltip]="'Fresh air'"
  ></app-rate>
  <app-rate
    [(rate)]="bookingMark.markVolume"
    [icon]="'fa-volume-up'"
    [iconTooltip]="'Noise'"
  ></app-rate>
  <app-rate
    [(rate)]="bookingMark.markCleaning"
    [icon]="'fa-hand-sparkles'"
    [iconTooltip]="'Сleanliness'"
  ></app-rate>
  <app-rate
    [(rate)]="bookingMark.markLocation"
    [icon]="'fa-map-marker-alt'"
    [iconTooltip]="'Location'"
  ></app-rate>

  <mat-form-field class="feedback-field" (keyup)="changeFeedback($event)">
    <input matInput placeholder="Feedback" />
  </mat-form-field>

  <p>Feedback:</p>
</div>

<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="close-button">Close</button>
  <button
    mat-button
    mat-flat-button
    mat-dialog-close
    cdkFocusInitial
    class="submit-button"
    (click)="ratePlace()"
  >
    Submit
  </button>
</div>
