<div class="tab-container" *ngIf="currentFloor">
  <div class="tools">
    <div class="tools-container">
      <ng-container *ngFor="let object of objects">
        <app-spinner [name]="'mainOfficeSpinner'"></app-spinner>
        <app-map-object [object]="object" [isOnMap]="false"></app-map-object>
      </ng-container>

      <div class="delimiter"></div>

      <app-zoom-tool (scopeEvent)="map.changeScope($event)"></app-zoom-tool>

      <div class="delimiter"></div>

      <app-map-size-tool
        [(height)]="currentFloor.height"
        [(width)]="currentFloor.width"
        (heightChange)="map.changeHeight($event)"
        (widthChange)="map.changeWidth($event)"
      >
      </app-map-size-tool>
    </div>
  </div>
  <div class="my-grid">
    <app-spinner [name]="'mapSpinner'"></app-spinner>
    <app-map
      [edit]="true"
      #map
      [(config)]="currentFloor"
      (configChange)="saveLatestChanges()"
    ></app-map>
  </div>
  <app-spinner [name]="'saveMapSpinner'"></app-spinner>
  <app-floor-panel
    (saveFloors)="save($event)"
    [(floors)]="floors"
    (floorsChange)="saveLatestChanges()"
    [(currentFloor)]="currentFloor"
  ></app-floor-panel>
</div>
