<mat-menu #actions>
  <div class="action-tools-content">
    <mat-button-toggle-group
      mat-menu-item
      [(value)]="object.isActive"
      *ngIf="object.isWorkPlace"
    >
      <mat-button-toggle
        [value]="true"
        class="active"
        matTooltip="Active"
        (click)="$event.stopPropagation()"
        matTooltipPosition="above"
      >
        <mat-icon>done</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle
        [value]="false"
        class="disabled"
        matTooltip="Disable"
        (click)="$event.stopPropagation()"
        matTooltipPosition="above"
      >
        <mat-icon>clear</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>

    <button
      mat-fab
      color="warn"
      (click)="delete()"
      matTooltip="Remove"
      matTooltipPosition="above"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</mat-menu>
