@import "~@angular/material/prebuilt-themes/indigo-pink.css";

#container {  
    padding: 1rem;
    width: 20rem;  
    margin: 10rem auto;    
    border: 1px solid #ccc;
    border-radius: 5px;
}

img {    
    width: 100%;
    margin-bottom: .5rem;
}

.mat-form-field {
    display: block;    
}