:host {
  display: flex;
  justify-content: center;
  padding: 10rem;
}

mat-card.mat-card:not([class*="mat-elevation-z"]) {
  border: var(--primary-border-width) solid #dedede;
  box-shadow: var(--primary-box-shadow);
}

mat-card-content {
  padding: var(--secondary-content-padding);
  width: 20rem;
  margin: 10rem auto;
}

.logo {
  display: block;
  width: 50%;
  margin: 1rem auto;
}

mat-form-field {
  display: block;
}

button#login-button {
  display: block;
  border-radius: var(--primary-border-radius);
  background-color: #3f51b5;
  margin: 0 auto;
}
