<app-search></app-search>

<div class="tab-group">
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Active" class="demo-tab-label">
      <app-table
        [data]="getData('active')"
        [status]="'active'"
        [columns]="getColumns('active')"
      ></app-table>
    </mat-tab>

    <mat-tab label="Completed">
      <app-table
        [data]="getData('completed')"
        [status]="'completed'"
        [columns]="getColumns('completed')"
        [isViewRating]="true"
      ></app-table>
    </mat-tab>

    <mat-tab label="Cancelled">
      <app-table
        [data]="getData('cancelled')"
        [status]="'cancelled'"
        [columns]="getColumns('cancelled')"
      ></app-table>
    </mat-tab>
  </mat-tab-group>
</div>
