<div class="tab-container">
  <!--  <app-search></app-search>-->

  <div class="tab-group">
    <mat-tab-group
      mat-stretch-tabs
      (focusChange)="setBookings($event.tab.textLabel)"
    >
      <mat-tab label="Active" class="demo-tab-label">
        <app-spinner [name]="'bookingsSpinner'"></app-spinner>
        <app-table
          [data]="displayedBookings"
          [status]="status.active"
          [columns]="getColumns(status.active)"
          [openDetails]="openBookingDetailsModal"
        ></app-table>
      </mat-tab>

      <mat-tab label="Completed">
        <app-spinner [name]="'bookingsSpinner'"></app-spinner>
        <app-table
          [data]="displayedBookings"
          [status]="status.completed"
          [columns]="getColumns(status.completed)"
          [openDetails]="openBookingDetailsModal"
        ></app-table>
      </mat-tab>

      <mat-tab label="Cancelled">
        <app-spinner [name]="'bookingsSpinner'"></app-spinner>
        <app-table
          [data]="displayedBookings"
          [status]="status.cancelled"
          [columns]="getColumns(status.cancelled)"
          [openDetails]="openBookingDetailsModal"
        ></app-table>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
