.tab-group {
  width: 93%;
  margin-left: 2rem;
  border-radius: 3rem 3rem 0 0;
  background: white;
  float: left;
  display: inline-block;
  margin-top: 0.5rem;
  box-shadow: 0 4px 23px rgba(0, 0, 0, 0.25);
}

::ng-deep .mat-tab-label .mat-tab-label-content{
  padding: 0 8.15rem;
}

//.mat-tab-label{
//  padding: 0 4.36rem !important;
//}
