h2 {
  font-weight: bold;
}

.office-location-fields {
  margin-top: 0.5rem;
  padding: 0.5rem 0;
  font-size: 0.875rem;
}

mat-form-field {
  display: block;
}

mat-label {
  display: inline-block;
  white-space: nowrap;
}

.work-time mat-label {
  margin-right: 5rem;
}
mat-dialog-content {
  margin: 0;
  padding: 0 1rem;
  overflow: hidden;
}

button[type="submit"] {
  background: #3c4eae;
  color: white;
}

button[type="submit"][disabled] {
  color: #fff;
  opacity: 50%;
}

.work-time {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #808080;
  width: 20rem;
}

.work-time-field:last-child {
  text-align: right;
}
