<h2 mat-dialog-title>Add new office</h2>

<div mat-dialog-content>
  <form #form="ngForm"
        class="office-location-fields"
        autocomplete="off">
    <mat-form-field>
      <mat-label>Country</mat-label>
      <input matInput
             placeholder="Country"
             name="country"
             [(ngModel)]="formData.address.country"
             required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>City</mat-label>
      <input matInput
             placeholder="City"
             name="city"
             [(ngModel)]="formData.address.city"
             required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Address</mat-label>
      <input matInput
             placeholder="Address"
             name="address"
             [(ngModel)]="formData.address.address"
             required>
    </mat-form-field>

    <div class="work-time">
      <p>Working time:</p>

      <mat-form-field class="work-time-field">
        <ngx-material-timepicker #min></ngx-material-timepicker>
        <input matInput
               placeholder="From "
               [ngxTimepicker]="min"
               name="worktimeStart"
               [ngModel]="formData.worktimeStart"
               [format]="24"
               readonly
               required />
      </mat-form-field>

      <mat-form-field class="work-time-field">
        <ngx-material-timepicker #max></ngx-material-timepicker>
        <input matInput
               placeholder="To "
               [ngxTimepicker]="max"
               name="worktimeEnd"
               [ngModel]="formData.worktimeEnd"
               [format]="24"
               readonly
               required />
      </mat-form-field>
    </div>
  </form>
</div>

<mat-dialog-actions align="end">
  <button mat-button
          mat-dialog-close>Close</button>
  <button mat-button
          color="primary"
          type="submit"
          [disabled]="form.invalid"
          (click)="onSubmit(form)">
    Add
  </button>
</mat-dialog-actions>