/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snack-white {
  background: #fff;
  border: 1px solid #ccc;
  color: #757586;
}
.snack-white .mat-button {
  color: #3f51b5;
}
