/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
}

// ***** Modal - Dialog - Details *****

mat-dialog-container.mat-dialog-container {
  font-size: 90%;
  position: relative;
  min-width: 20rem;
  padding: 1rem;
}
div[mat-dialog-content] {
  border: 1px solid lightgrey;
  border-radius: 20px;
}
.dialog-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.dialog-header div {
  display: inline-block;
}

svg.svg-inline--fa.fa-w-11.close {
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}

p.no-center {
  padding-left: 0.5rem;
  position: relative;
}
p.no-center span:first-child {
  font-weight: bold;
}

span.align {
  position: absolute;
  left: 40%;
}

.rating-line {
  width: 15rem;
  display: flex;
  justify-content: space-between;
  text-align: center;
  border: 1px solid #d4e8f1;
  border-radius: 10px;
  margin: 0 auto 0.5rem;
}

.rating-line svg {
  display: block;
  padding: 0.5rem;
  color: #93cbff;
  font-size: 150%;
}

.user-photo-container {
  margin: 1rem auto;
  border-radius: 50%;
  overflow: hidden;
  width: 8rem;
  height: 8rem;
}

.user-photo {
  object-fit: contain;
  width: auto;
  height: 100%;
}

.user-name {
  font-weight: bold;
  text-align: center;
}

.user-email {
  text-align: center;
  font-size: 80%;
  opacity: 80%;
}

// **************************************
