@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: 'Open Sans',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent;
}

@include mat-core($custom-typography);
