.floor-panel {
  text-align: center;
  display: flex;
  justify-content: center;;
}

.floor-panel .floor-panel-container {
  padding: 0.5rem;
  background-color: var(--secondary-color);
  box-shadow: var(--primary-box-shadow);
  border-radius: var(--secondary-border-radius);
  text-align: left;
}

.floor-panel .floor-panel-container button {
  display: inline-block;
  margin: 0.5rem;
}

.floor-panel .floor-panel-container button.remove-floor {
  background-color: var(--delete-button-color);
}

.mat-mini-fab {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.mat-mini-fab.inactive {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
