<div
  draggable="true"
  [matTooltip]="object.tooltip"
  matTooltipShowDelay="500"
  matTooltipPosition="above"
  (dragstart)="editorService.dragStart($event, object)"
  [ngClass]="{
    'on-map-icon-background': isOnMap,
    'icon-background': !isOnMap,
    selected: selected
  }"
  [ngStyle]="
    zoom > 0.25
      ? mapObjectService.getBorder(object, isOnMap)
      : { border: 'none' }
  "
>
  <div
    class="object-content"
    [ngClass]="{
      disabled: !object.active,
      occupied: !isEditMode && isOnMap && (place?.occupied || !object.number)
    }"
  >
    <mat-icon
      fontSet="fas"
      [fontIcon]="object.icon"
      [ngClass]="{ 'on-map-icon': isOnMap, icon: !isOnMap }"
    >
    </mat-icon>

    <div
      class="place-number"
      *ngIf="object.number && isOnMap"
      [style.font-size.rem]="getFontSize()"
      [style.line-height.rem]="getFontSize()"
    >
      {{ object.number }}
    </div>

    <div
      class="conf-room-capacity"
      *ngIf="object.capacity && isOnMap"
      [style.font-size.rem]="getFontSize()"
      [style.line-height.rem]="getFontSize()"
    >
      {{ object.capacity }}
    </div>
  </div>
</div>
