.restore-dialog {
  text-align: center;
}

.mat-dialog-actions {
  display: block;
}

.mat-dialog-actions .mat-button {
  border: var(--primary-border);
  border-radius: var(--primary-border-radius);
}
