<!--<app-maps-search></app-maps-search>-->

<!--<div class="add-map-container">-->
<!--  <button mat-raised-button color="primary" routerLink="/map">-->
<!--    Add Map-->
<!--  </button>-->
<!--</div>-->
<div class="tab-container">
  <app-maps-search (searchEvent)="setDisplayedOffices($event)"></app-maps-search>
  <div>
    <app-table class="map-table"
               [data]="displayedOffices"
               [columns]="getColumns()"
               [openDelete]="deleteOfficeAddress"></app-table>
  </div>
</div>