/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
}

:root {
  --primary-color: #3f51b5;
  --secondary-color: white;

  --active-booking-color: #673ab7;
  --completed-booking-color: #00c19f;
  --canceled-booking-color: #f44336;

  --delete-color: #f44336;
  --accept-color: #00c19f;

  --delete-button-color: #f44336;

  --primary-border: 2px solid #dedede;
  --primary-border-radius: 4rem;
  --secondary-border-radius: 2rem;
  --primary-border-width: 2px;

  --primary-content-margin: 4rem;
  --secondary-content-margin: 2rem;

  --primary-content-padding: 2rem;
  --secondary-content-padding: 1rem;

  --primary-box-shadow: 0 4px 23px rgba(0, 0, 0, 0.25);

  --primary-font-size: 16px;
}

.tab-container {
  width: calc(100% - 8rem);
  height: 100%;
  padding: 2rem 4rem 0 4rem;
}

.table-container {
  min-width: 50rem;
}

.mat-snack-bar-container {
  background-color: var(--canceled-booking-color);
  color: white;
}

.mat-snack-bar-container.success {
  background-color: var(--completed-booking-color);
}

.mat-simple-snackbar-action {
  color: white;
}

mat-tab-group,
mat-tab-group .mat-tab-body-wrapper {
  height: 100%;
}
