<div class="table-group">
  <table mat-table
         [dataSource]="data"
         class="mat-elevation-z8">
    <!--Place Column -->
    <ng-container matColumnDef="place">
      <th mat-header-cell
          *matHeaderCellDef>Place #
      </th>
      <td mat-cell
          *matCellDef="let booking">
        <span>
          <span class="bookmark"
                [ngClass]="getBookmarkClass()">{{booking.place}}</span>
          <span>
            <button mat-icon-button
                    aria-label="Example icon button with a vertical three dot icon"
                    class="edit-button"
                    (click)="editBooking($event)">
              <mat-icon>edit</mat-icon>
            </button>
          </span>
        </span>
      </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell
          *matHeaderCellDef>Date
      </th>
      <td mat-cell
          *matCellDef="let booking">{{ booking.date }}</td>
    </ng-container>

    <!-- Country Column -->
    <ng-container matColumnDef="country">
      <th mat-header-cell
          *matHeaderCellDef>Country
      </th>
      <td mat-cell
          *matCellDef="let booking">{{ booking.country }}</td>
    </ng-container>

    <!-- City Column -->
    <ng-container matColumnDef="city">
      <th mat-header-cell
          *matHeaderCellDef>City
      </th>
      <td mat-cell
          *matCellDef="let booking">{{ booking.city }}</td>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell
          *matHeaderCellDef>Address
      </th>
      <td mat-cell
          *matCellDef="let booking">{{ booking.address }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell
          *matHeaderCellDef></th>
      <td mat-cell
          *matCellDef="let row">
        <button *ngIf="status === 'active'"
                mat-icon-button
                matTooltip="Cancel booking"
                [matTooltipPosition]="'above'"
                class="close-button"
                (click)="cancelBooking($event)">
          <mat-icon>close</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="getTableColumns()"></tr>
    <tr mat-row
        *matRowDef="let row; columns: getTableColumns()"
        (click)="openBookingDetailsModal($event, row)"></tr>
  </table>
</div>