h2 {
  font-weight: bold;
}

.modal-container {
  position: relative;
}

app-booking-status {
  margin-bottom: 0.5rem;
}

table.booking-details {
  border-collapse: collapse;
  margin-top: 0.5rem;
  width: 100%;
}

table.booking-details td {
  padding: 0.5rem 0;
  font-size: 0.875rem;
  vertical-align: top;
  border-bottom: var(--primary-border);
}

table.booking-details td.booking-details-label {
  color: #787878;
  padding-right: 1rem;
}

app-rating {
  display: block;
  margin-top: 1rem;
}
