<div class="marks-group">
  <div class="mark">
    <span
      ><i
        matTooltip="Illumination rating"
        [matTooltipPosition]="'above'"
        class="fas fa-lightbulb type-of-mark fa-2x"
      ></i>
      <span class="stars-group">
        <button
          mat-icon-button
          class="star-mark"
          *ngFor="let i of [1, 2, 3, 4, 5]"
          (click)="toggleIcon(i)"
        >
          <i
            class="fa-star fa-3x"
            [ngClass]="{ fas: i <= rate, far: i > rate }"
          ></i>
        </button>
      </span>
    </span>
  </div>

  <div class="mark">
    <span
      ><i class="fas fa-wind type-of-mark fa-2x"></i>
      <span class="stars-group">
        <button
          mat-icon-button
          class="star-mark"
          *ngFor="let i of [1, 2, 3, 4, 5]"
          (click)="toggleIcon(i)"
        >
          <i
            class="fa-star fa-3x"
            [ngClass]="{ fas: i <= rate, far: i > rate }"
          ></i>
        </button>
      </span>
    </span>
  </div>

  <div class="mark">
    <span
      ><i class="fas fa-volume-up type-of-mark fa-2x"></i>
      <span class="stars-group">
        <button
          mat-icon-button
          class="star-mark"
          *ngFor="let i of [1, 2, 3, 4, 5]"
          (click)="toggleIcon(i)"
        >
          <i
            class="fa-star fa-3x"
            [ngClass]="{ fas: i <= rate, far: i > rate }"
          ></i>
        </button>
      </span>
    </span>
  </div>

  <div class="mark">
    <span
      ><i class="fas fa-hand-sparkles type-of-mark fa-2x"></i>
      <span class="stars-group">
        <button
          mat-icon-button
          class="star-mark"
          *ngFor="let i of [1, 2, 3, 4, 5]"
          (click)="toggleIcon(i)"
        >
          <i
            class="fa-star fa-3x"
            [ngClass]="{ fas: i <= rate, far: i > rate }"
          ></i>
        </button>
      </span>
    </span>
  </div>

  <div class="mark">
    <span
      ><i class="fas fa-map-marker-alt type-of-mark fa-2x"></i>
      <span class="stars-group">
        <button
          mat-icon-button
          class="star-mark"
          *ngFor="let i of [1, 2, 3, 4, 5]"
          (click)="toggleIcon(i)"
        >
          <i
            class="fa-star fa-3x"
            [ngClass]="{ fas: i <= rate, far: i > rate }"
          ></i>
        </button>
      </span>
    </span>
  </div>
</div>
