marks-group {
  margin-bottom: 0.7rem;
}

.type-of-mark {
  width: 48px;
  color: #3f51b5;
  position: relative;
  margin-top: 0.5rem;
}

.star-mark {
  color: #ffea7b;
  position: relative;
  margin-left: 0.7rem;
}

.stars-group {
  margin-left: 0.5rem;
}
