#search-field {
  margin: 1rem 1rem;

  padding: 0;
  background: #fff;
  border-radius: 20px;
  display: flex;
}
mat-form-field {
  flex: 1;
  padding: 0 1rem;
}
#search-button {
  margin: 1rem;
  border-radius: 20px;
  background-color: #3f51b5;
}
