<form>
  <mat-form-field class="form-searh-field">
    <input matInput
           class="search-input"
           type="text"
           placeholder="Search by Employees"
           [formControl]="myControl"
           [matAutocomplete]="auto"
           (keyup)='this.typeText.emit(this.myControl.value)'
           (ngModelChange)='this.typeText.emit(this.myControl.value)'
           (click)='this.typeText.emit(this.myControl.value)'
           autofocus>

    <mat-autocomplete #auto="matAutocomplete"
                      [displayWith]="onType()">
      <mat-option *ngFor="let option of (filteredUsers | async)"
                  [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

</form>