<form>
  <mat-form-field>
    <input matInput
           type="text"
           placeholder="Search by Employees"
           [formControl]="myControl"
           [matAutocomplete]="auto"
           autofocus />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredUsers | async"
                  [value]="option.name + ' ' + option.surname">
        {{ option.name + " " + option.surname }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>