<mat-autocomplete #auto="matAutocomplete">
    <mat-option class="search-input"
                (input)="checkInput()"
                [(ngModel)]="inputText"
                (keyup)="instantFilter()"
                (enter)="showSearched()"
                placeholder="Search by Employees"
                *ngFor="let option of inputArray"
                [value]="option">
        {{ option }}
    </mat-option>
    <button mat-raised-button
            color="primary"
            class="search-button">Search</button>
</mat-autocomplete>

<!-- <mat-card class="search-field">
    <mat-form-field>
        <input matInput
               class="search-input"
               type="text"
               (input)="checkInput()"
               [(ngModel)]="inputText"
               (keyup)="instantFilter()"
               (enter)="showSearched()"
               placeholder="Search by Employees"
               autofocus>
    </mat-form-field>
    <ul *ngIf="inputArray.length != 0">
        <li *ngFor="let i of inputArray">{{ i }}</li>
    </ul>

    <button mat-raised-button
            color="primary"
            class="search-button">Search</button>
</mat-card> -->