form {
  display: flex;
  margin: 0 2rem;
}

mat-form-field {
  width: 100%;
}

.search-button {
  width: 10rem;
  margin: 1rem;
  border-radius: var(--secondary-border-radius);
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
