.user-card-container {
  margin-top: 1rem;
  background-color: #d4e8f1;
  border-radius: 0 var(--primary-border-radius) var(--primary-border-radius) 0;
  width: 11.5rem;
  padding: 0.5rem;
  overflow: hidden;
}

.user-card-container app-user-photo {
  width: 4rem;
  height: 4rem;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
}

.user-card-container .card-content {
  margin-left: 0.5rem;
  width: 6rem;
  display: inline-block;
  vertical-align: top;
  margin-top: 0.4rem;
}

.user-card-container .user-image img {
  width: 100%;
  margin: 0 auto;
}

.user-card-container .card-content .user-card-name {
  font-weight: bold;
  margin-bottom: 0.3rem;
  margin-left: 0.2rem;
  font-size: var(--primary-font-size);
}

.user-card-container button {
  line-height: 1.7rem;
  border-radius: var(--secondary-border-radius);
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
